.App {
  text-align: center;
}

textarea {
  width: 40%;
  height: 250px;
  border-radius: 5px;
  float: left;
}

table {
  width: 250px;
  text-align: left;
}

table, th,td {
  border: 2px solid black;
  border-collapse: collapse;
  
}